<!DOCTYPE html>
<html lang="en>

{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <title>Django Dashbuilder</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{% static 'dashbuilder/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'dashbuilder/css/dashbuilder.css' %}" rel="stylesheet">
    <link href="{% static 'dashbuilder/bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">


</head>
	
<body>
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ root_application.get_index_url }}">{{ root_application.name }}</a>
          <div class="nav-collapse">
            <ul class="nav">
                <li class="active"><a href="{{ root_application.get_index_url }}">Home</a></li>
                {% for app in root_application.registry %}
                {% if app.registry %}
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.name }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                {% for app in app.registry %}
                <li><a href="{{ app.get_index_url }}">{{ app.name }}</a></li>
                {% endfor %}
                </ul>
                </li>
                {% else %}
                <li><a href="{{ app.get_index_url }}">{{ app.name }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

    {% if application.parent %}
    <ul class="breadcrumb">
        {% block breadcrumbs %}
        {% for ancestor in ancestor_applications %}
        <li><a href="{{ ancestor.get_index_url }}">{{ ancestor.name }}</a>
        <span class="divider">/</span></li>
        {% endfor %}
        {% endblock %}
    </ul>
    {% endif %}

	{% block body %}
	
	
    {% endblock %}
    </div>

    <script src="{% static 'dashbuilder/js/jquery.js' %}"></script>
    <script src="{% static 'dashbuilder/bootstrap/js/bootstrap.min.js' %}"></script>

    <script>
    $(document).ready(function(){
        // $('.dropdown-toggle').dropdown();
    });
    </script>
</body>

</html>
