{% extends 'dashbuilder/base.html' %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{{ application.get_index_url }}">{{ application.name }}</a>
<span class="divider">/</span></li>
<li class="active">New</li>
{% endblock %}

{% block body %}
<header class="page-title page-header">
<h1>Create new {{ verbose_name|title }}</h1>
</header>

{% if form.errors %}
<div class="alert alert-error">
    There was an error in your form submission, please fix the highlighted
    fields and try again.
</div>
{% endif %}

<form action="." method="post" class="form-horizontal">
  {% include 'dashbuilder/includes/_page_form.html' %}
  <div class="form-actions">
    <button class="btn btn-primary">Create</button>
  </div>
</form>
{% endblock %}
