{% extends 'dashbuilder/base.html' %}
{% load url from future %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">{{ verbose_name_plural|title }}</li>
{% endblock %}

{% block body %}
<header class="page-title">

{% if object_list %}
    <table class="table table-bordered table-striped">
        <thead>
            <th>{{ verbose_name_plural|title }}</th>
        </thead>
        <tbody>
        {% for object in object_list %}
        <tr>
            <td><a href="{% url application.update_view_name object.pk %}">{{ object }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
<p>No {{ verbose_name_plural|title }} found</p>
{% endif %}

<div class="form-actions">
    <a class="btn" href="{% url application.create_view_name %}">New {{ verbose_name|title }}</a>

</div>  

{% endblock %}

