{% extends 'dashbuilder/base.html' %}

{% block body %}
<header class="page-title">


<ul class="breadcrumb">
  <li>
  <a href="/">Dashboard</a> <span class="divider">/</span>
  </li>
  <li>
  <a href="../">{{ verbose_name_plural }}</a> <span class="divider">/</span>
  </li>  
  <li class="active">
    Update
  </li>
</ul>

<h1>Update {{ verbose_name }}</h1>
</header>

{% if form.errors %}
<div class="alert alert-error">
    There was an error in your form submission, please fix the highlighted
    fields and try again.
</div>
{% endif %}

<form action="." method="post">

  {% csrf_token %}

    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
    <div class="control-group{% if field.errors%} error{% endif %}">
            {{ field.errors }}
            {{ field.label_tag }}
            <div class="controls">{{ field }}
              {% if field.field.help_text %}<span class="help-inline">{{ field.field.help_text|safe }}</span>{% endif %}
            </div>
        </div>
  {% endfor %}
  <div class="form-actions">
    <button class="btn btn-primary">Update</button>
  </div>
</form>
{% endblock %}

